<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Anu birthday Webpage">
    <meta name="author" content="Shivam Sharma">
    <link rel="shortcut icon" href="favicon.png" type="image/png">

    <title>JUGNU</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Bree+Serif|Montserrat|PT+Sans+Caption|Ultra" rel="stylesheet">
		<link rel="stylesheet" href="style.css">


</head>
<body>

	<header>
		<img src="head.jpeg" alt="Crash">
		<h1>Happy <br> Birthday <br> Anu <i class="fas fa-birthday-cake"></i></h1>
	</header>
	
	<div id="dis"></div>

	<div class="select-1"></div>

	<div class="select-2"><i class="fas fa-times"></i></div>

	<div class="memory">
	
		<div class="anu">
			<h1>Memories Of You With Me </h1>	
			<p></p>
		</div>
				
		<div class="container">
		  
		  <div class="row">
			<div class="col">
			  <img src="1.jpg" alt="Crash">
			</div>
		  </div>
		  
		  <div class="row">
			<div class="col">
			  <img src="2.jpg" alt="Crash">
			</div>
			<div class="col">
			  <img src="3.jpg" alt="Crash">
			</div>
		  </div>
		  
		  <div class="row">
			<div class="col">
			  <img src="4.jpg" alt="Crash">
			</div>
		  </div>
		  
		  <div class="row">
			<div class="col">
			  <img src="5.jpg" alt="Crash">
			</div>
			<div class="col">
			  <img src="6.jpg" alt="Crash">
			</div>
		  </div>
		  
			<div class="row">
			<div class="col">
			  <img src="7.jpg" alt="Crash">
			</div>
		  </div>
		  
		  <div class="row">
			<div class="col">
			  <img src="8.jpg" alt="Crash">
			</div>
			<div class="col">
			  <img src="9.jpg" alt="Crash">
			</div>
		  </div>
		  <div class="row">
			<div class="col">
			  <img src="10.jpg" alt="Crash">
			</div>
		  </div>
		  
		  <div class="row">
			<div class="col">
			  <img src="11.jpg" alt="Crash">
			</div>
			<div class="col">
			  <img src="12.jpg" alt="Crash">
			</div>
		  </div>
		  <div class="row">
			<div class="col">
			  <img src="13.jpg" alt="Crash">
			</div>
		  </div>
		  
		  <div class="row">
			<div class="col">
			  <img src="14.jpg" alt="Crash">
			</div>
			<div class="col">
			  <img src="15.jpg" alt="Crash">
			</div>
		  </div>
		  <div class="row">
			<div class="col">
			  <img src="16.jpg" alt="Crash">
			</div>
		  </div>
		  
		  <div class="row">
			<div class="col">
			  <img src="17.jpg" alt="Crash">
			</div>
			<div class="col">
			  <img src="18.jpg" alt="Crash">
			</div>
		  </div>
		  <div class="row">
			<div class="col">
			  <img src="19.jpg" alt="Crash">
			</div>
		  </div>
		  
		  <div class="row">
			<div class="col">
			  <img src="20.jpg" alt="Crash">
			</div>
			<div class="col">
			  <img src="21.jpg" alt="Crash">
			</div>
		  </div>
		  <div class="row">
			<div class="col">
			  <img src="22.jpg" alt="Crash">
			</div>
		  </div>
		  
		  <div class="row">
			<div class="col">
			  <img src="23.jpg" alt="Crash">
			</div>
			<div class="col">
			  <img src="24.jpg" alt="Crash">
			</div>
		  </div>
		  <div class="row">
			<div class="col">
			  <img src="25.jpg" alt="Crash">
			</div>
		  </div>
		  
		  <div class="row">
			<div class="col">
			  <img src="26.jpg" alt="Crash">
			</div>
			<div class="col">
			  <img src="27.jpg" alt="Crash">
			</div>
		  </div>

			<div class="row">
			<div class="col">
			  <img src="28.jpg" alt="Crash">
			</div>
			<div class="col">
			  <img src="29.jpg" alt="Crash">
			</div>
		  </div>
		</div>
	</div>

	<div class="moveUp">
		<i class="fas fa-arrow-up"></i>
	</div>
	
	<footer>
		<h4>Created by :- SHIVAM SHARMA</h4>
		<p></p>
	</footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script>
			

			//var ele = document.getElementById("dis"); // another way for offset() property
			//let x = 0;
			//while(ele){
			//	x += ele.offsetTop;
			//	ele = ele.offsetParent;
			//}

			//if(height < 100){  // offset() not working in mobile browsers // problem solved
			//	height = 250;
			//}
		$(window).on('scroll',function(){
			if($(window).scrollTop() > 10){
				var height = 0;
			  height = $('#dis').offset(); //calculating the distance from the top
			  height = height.top;
			}
			console.log(height);
			if($(window).scrollTop() > height){    //250
				$('.memory .anu').addClass('fix');
				$('.memory .container').addClass('gap');
				$('.moveUp').addClass('show');
			}
			else{
				$('.memory .anu').removeClass('fix');
				$('.memory .container').removeClass('gap');
				$('.moveUp').removeClass('show');
			}
		});

		$(function(){              // Image in full screen mode
		 $('.memory .container .row .col').click(function(){
		 	$('.select-1').addClass('black');
		 	$('.select-2').addClass('exit'); 
		 	$(this).addClass('full'); 
		 });

		 $('.select-2').click(function(){
			 $('.select-1').removeClass('black');
		 	 $('.select-2').removeClass('exit'); 
		 	 $('.memory .container .row .col').removeClass('full'); 
		 });
	  });

		$(document).ready(function(){
			$('.moveUp').click(function(){
				$('body,html').animate({scrollTop: 0}, 3000);
			});
		});	

	</script>

</body>
</html>